# App
NODE_ENV=production
PORT=3000

# Telegram Bot
BOT_TOKEN=your_bot_token_here
BOT_WEBHOOK_URL=https://yourdomain.com
BOT_WEBHOOK_SECRET=your_webhook_secret

# Proxy (ixtiyoriy)
# BOT_PROXY_URL=http://127.0.0.1:7890

# Database
DATABASE_URL="postgresql://postgres:password@db:5432/telegram_bot?schema=public"
